@font-face {
    font-family: 'brandon-grotesque';
    src: url(./brandon-grotesque-light-58a8a4b38001d.otf) format('otf');
}

@font-face {
    font-family: 'brandon-grotesque';
    font-weight: bold;
    src: url(./brandon-grotesque-black-58a8a3e824392.otf) format('otf');
}