.experiments {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    overflow-x: auto;
}

.experiment {
    cursor: pointer;
    padding: 25px 20px 10px;
    background-color: #131116;
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 25px 48px rgba(0, 0, 0, 0.5);
    margin: 25px;
}

.experiment:hover {
    transform: translateY(-10px) translateZ(0);
}

.experiment-image-container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.experiment-image {
    width: 250px;
}

.experiment-date {
    font-size: 14px;
    opacity: 0.4;
    display: inline-block;
}

.experiment-number {
    float: right;
}

.experiment-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.8px;
    width: 100%;
    text-transform: uppercase;
}

.experiment-footer {
    position: absolute;
    bottom: 30px;
    left: 31px;
    font-size: 14px;
}

.experimentSketch_shadow {
    border-radius: 4px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.15);
}

.experimentSketch_padding {
    padding: 25px 25px 21px;
}