@font-face {
    font-family: 'MicroSquare';
    src: url(./MicroSquare.ttf) format('truetype');
}

@font-face {
    font-family: 'MicroSquare';
    font-weight: bold;
    src: url(./MicroSquare.ttf) format('truetype');
}