.lab-experiment {
    display: flex;
    min-height: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #131116;
    padding-right: 280px;
}


.lab-controlsPanel-inner {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 15px;
    right: 15px;
    background-color: #2C2C31;
}