.controlBlock {
    margin-bottom: 15px;
}

.controlBlock-title {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    font-weight: 100;
    opacity: 0.8;
}

.controlBlock-title-right {
    float: right;
}

.controlBlock-title-right-icon {
    cursor: pointer;
    display: none;
}

.controlBlock:hover .controlBlock-title-right-icon {
    display: block;
}

.controlBlock-content {
    padding-top: 0;
    padding-bottom: 10px;
    overflow: hidden;
}
