.controlSlider {
    position: relative;
    margin-top: 2px;
    padding-top: 3px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s ease;
}

.controlSlider:hover {
    opacity: 1;
}

.controlSlider .rc-slider-rail {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.controlSlider .rc-slider-track {
    height: 3px;
    background-color: #FFF;
    border-bottom-left-radius: 1.5px;
    border-top-left-radius: 1.5px;
}

.controlSlider .rc-slider-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
    top: 0;
}

.controlSlider .rc-slider-handle:hover {
    width: 12px;
    height: 12px;
    top: -1px;
}

.controlSlider_selected {
    opacity: 1;
}

.controlSlider_selected .rc-slider-handle {
    width: 12px;
    height: 12px;
    top: -1px;
}