.imageOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

.imageOverlay img {
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
