.projectCard {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .35s;
    color: #363e47;
    margin-bottom: 25px;
    height: 288px;
    border-radius: 4px;
}

.projectCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .2), 0 8px 15px rgba(0, 0, 0, .12);
}

.projectCard-title {
    font-family: galanoGrotesque, sans-serif;
    margin-top: 0;
    margin-bottom: 3px;
    display: inline-block;
    text-transform: uppercase;
}

.projectCard-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectCard-inner, .projectCard-overlay {
    position: absolute;
    left: 0;
    right: 0;
    padding: 40px 40px 32px 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 288px;
    transition: all 0.9s ease;
}

.projectCard-inner {
    top: 0;
    bottom: 0;
    opacity: 1;
}

.projectCard:hover .projectCard-inner {
    top: -288px;
    opacity: 0;
}

.projectCard-overlay {
    bottom: -288px;
    background: linear-gradient(to bottom right, rgba(10, 37, 122, 0.82), rgba(129, 64, 156, 0.75));
    color: #FFF;
    border-radius: 4px;
    display: flex;
    overflow: auto;
}

.projectCard-overlay .portfolio-btn i {
    font-size: 1.2em;
    margin-left: 5px;
    display: inline-block;
    transform: translateY(1px);
}

.projectCard-overlay .projectCard-subTitle {
    font-size: 0.85em;
    margin-top: 1px;
    opacity: 0.75;
    color: #4dff92;
}

.projectCard-overlay .projectCard-label {
    font-weight: normal;
}

.projectCard-text {
    font-size: 0.9em;
    flex: 1;
}

.projectCard:hover .projectCard-overlay {
    bottom: 0;
}

.projectCard-img-wrapper {
    margin-top: 25px;
    height: 75px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectCard-img {
    opacity: 0.8;
    transition: all 0.35s;
    max-width: 120px;
    max-height: 65px;
    width: auto !important;
    border-radius: 3px;
}

.projectCard:hover .projectCard-img {
    opacity: 1;
}

.projectCard-techs i {
    opacity: 0.7;
    margin: 3px;
    font-size: 1.1em;
}

.projectCard-techs .i-php {
    font-size: 1.1em;
}

.projectCard-techs i:hover {
    opacity: 1;
}

.projectCard-techs .projectCard-subTitle {
    margin-bottom: 8px;
}

.projectCard-subTitle {
    font-family: Stratum1, sans-serif;
    font-size: 0.75em;
    display: inline-block;
    font-weight: bold;
    min-width: 30px;
    margin-bottom: 3px;
    margin-right: 5px;
    margin-top: 2px;
}

.projectCard-label {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
}

.projectCard-date {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 0.8em;
    opacity: 0.5;
}

.projectCard-type, .projectCard-role {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.projectCard-type {
    font-size: 0.9em;
    flex: 1;
}

.projectCard-overlay-footer {
    text-align: center;
    padding-top: 20px;
}

.projectCard_primeTime .projectCard-img {
    width: 96px;
    left: -17px;
}

.projectCard_primeTime .projectCard-title {
    background: linear-gradient(80deg, #16A9E1, #EC2028);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_frimousse .projectCard-title {
    background: linear-gradient(80deg, #F79533, #F37055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_mamieCouscous .projectCard-title {
    background: linear-gradient(80deg, #731B19, #FF0041);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_addeekt .projectCard-title {
    background: linear-gradient(80deg, #f5ed08, #e9da03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.projectCard_anotherChef .projectCard-title {
    background: linear-gradient(80deg, #F17569, #FBB13B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_hashTagNote .projectCard-title {
    color: #030303;
}

.projectCard_thales .projectCard-title {
    background: linear-gradient(80deg, #242A75, #00BBDE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_pepperSite .projectCard-title {
    background: linear-gradient(80deg, #E51F2D, #8e131d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_lylWebsite .projectCard-title {
    color: #409AC3;
}

.projectCard_aigle5 .projectCard-title {
    background: linear-gradient(80deg, #1B5090, #84C5C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_ediT2 .projectCard-title {
    color: #000;
}

.projectCard_kimoknow .projectCard-title {
    background: linear-gradient(80deg, #8EC6E7, #EB6AA6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_lineMeUp .projectCard-title {
    background: linear-gradient(80deg, #FA5E57, #2E416B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectCard_reacteevToolkit .projectCard-title {
    background: linear-gradient(80deg, #0063FF, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
